<launch>

	<node name="husky_node" pkg="husky" type="husky_node" output="screen"/>
        <node name="husky_drive" pkg="husky" type="husky_drive.py"/>
        <node name="husky_odom" pkg="husky" type="husky_odom.py" output="screen"/>
        <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
		<param name="port" value="/dev/ttyACM0"/>
	</node>

	<include file="$(find turtlebot_bringup)/launch/3dsensor.launch" ns="husky" />

	<arg name="marker_size" default="20.3" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/husky/camera/rgb/image_color" />
	<arg name="cam_info_topic" default="/husky/camera/rgb/camera_info" />
	<!--arg name="cam_image_topic" default="/husky/camera/rgb/image_color" /-->
	<!--arg name="cam_info_topic" default="/husky/camera/rgb/camera_info" /-->	
	<arg name="output_frame" default="/base_link" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" ns="husky"/>

</launch>
